{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}

    <h1 id="">All Examples</h1>
    <div>&nbsp;</div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Wallet</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for accountKey, amount in isk %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ accountkey }}</td>
                <td>{{ amount|format_isk }}</td>
            </tr>
            {% else %}
            <tr><td colspan="2">No examples yet</td></tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}


