{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}

    <h1 id="">Wallet Balances</h1>
    <div>&nbsp;</div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Wallet</th>
                <th style="text-align:right">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for accountKey,walletName in walletNames.items() %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ walletName }}</td>
                <td style="text-align:right">{{ walletBalances[accountKey]|format_isk }}</td>
            </tr>
            {% else %}
            <tr><td colspan="3">No examples yet</td></tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}


